h1 {
  color: #67f;
  font-size: 80px;
}

h2 {
  color: #668;
  font-size: 30px;
}

h3 {
  color: #238;
}

ul {
    list-style-type: none;
}

img {
  width: 30%;
  height: 300px;
}

body {
  background-color: #ffefdf;
  font-family: Trebuchet, sans-serif;
  text-align: center;
  font-size: 16px;
  padding: 5%;
}
