h1 {
  color: #668;
  text-align: left;
  font-size: 80px;
}

h2 {
  color: #668;
  text-align: left;
  font-size: 30px;
}

}
ul {
  font-size: 20px;
}

body {
  background-color: #d8e0ff;
  font-family: sans-serif;
}
